.container {
  width: 100%;
  height: auto;
  padding: .15rem .2rem;
  box-sizing: border-box;
}
.update {
  width: 100%;
  height: auto;
}
.update pre {
  font-size: .16rem;
  height: 2.5rem;
  display: block;
}
.updateTitle {
  height: .25rem;
  color: red;
  font-size: .18rem;
}
.updateCon {
  height: auto;
  display: block;
  font-size: .14rem;
  line-height: .25rem;
  border-bottom: 1px dashed #7D8490;
}
.title {
  width: 100%;
  height: .55rem;
  text-align: center;
  line-height: .55rem;
  font-size: .18rem;
  font-family: "新宋体" !important;
}
.subtitle {
  width: 100%;
  min-height: .36rem;
  line-height: .36rem;
  color: #202020;
  font-size: .18rem;
  font-weight: bold;
  font-family: "新宋体" !important;
}
.searchGuide {
  width: 100%;
  min-height: .6rem;
  font-size: .14rem;
  line-height: .25rem;
  border: 1px dashed #7D8490;
  margin-bottom: .3rem;
  padding: .1rem .1rem;
  box-sizing: border-box;
}
.zhushibox {
  width: 100%;
  height: .4rem;
  margin-bottom: .2rem;
}
.zhushi {
  width: .6rem;
  height: .4rem;
  color: white;
  background: red;
  margin: 0 auto;
  text-align: center;
  line-height: .4rem;
  font-size: .12rem;
}
.img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  margin-bottom: .2rem;
}
.img img {
  display: block;
  width: 100%;
  height: auto;
}
.divide {
  width: 100%;
  height: .2rem;
  border-top: 1px dashed #7D8490;
}
.zixunTitle {
  font-size: .16rem;
}
.a_title {
  margin: .1rem 0;
  font-size: .2rem;
  font-weight: bold;
  font-family: "新宋体" !important;
}
.a_con {
  display: block;
  width: 100% !important;
  height: auto!important;
  font-size: .16rem;
  text-indent: 2em;
  margin-bottom: .1rem;
}
.red {
  color: red;
}
.ys {
  font-size: .18rem;
  font-family: "新宋体" !important;
}
.blue {
  color: #0070D5;
  font-size: .16rem;
  display: block;
}
.login {
  width: 100%;
  height: .2rem;
  font-size: .16rem;
  display: block;
  line-height: .16rem;
  margin-bottom: .1rem;
  font-family: "新宋体" !important;
}
