body {
  background: #DBE0E4;
}
nav {
  width: 100%;
  height: .73rem;
  text-align: center;
  line-height: .73rem;
  background: #fff;
  padding-left: .2rem;
  box-sizing: border-box;
}
nav h3 {
  font-size: .3rem;
  font-weight: normal;
}
.back {
  font-size: .3rem !important;
  color: #FF4342;
}
main {
  width: 100%;
  height: auto;
}
.xiChou {
  height: 2.5rem;
  border: 1px solid #E0E4EC;
  background: white;
  padding-left: .2rem;
  box-sizing: border-box;
  margin-bottom: .25rem;
}
.xiChou h3 {
  height: .8rem;
  line-height: .8rem;
  font-size: .2rem;
  font-weight: normal;
  color: #757575;
}
.xiChouImg {
  width: 100%;
  height: 1.4rem;
}
.xiChouImg li {
  width: 1.8rem;
  height: 100%;
  margin-right: .2rem;
  float: left;
  background-size: contain!important;
}
.xiChouImg li:last-child {
  margin: 0;
}
.xiChouImg li:nth-child(1) {
  background: url("../img/xiChou1.png") no-repeat 0 0;
}
.xiChouImg li:nth-child(2) {
  background: url("../img/xiChou2.png") no-repeat 0 0;
}
.xiChouImg li:nth-child(3) {
  background: url("../img/xiChou3.png") no-repeat 0 0;
}
.xiPanImg li:nth-child(1) {
  background: url("../img/xiPan1.png") no-repeat 0 0;
}
.xiPanImg li:nth-child(2) {
  background: url("../img/xiPan2.png") no-repeat 0 0;
}
.xiPanImg li:nth-child(3) {
  background: url("../img/xiPan3.png") no-repeat 0 0;
}
.chuHuoImg li:nth-child(1) {
  background: url("../img/chuHuo1.png") no-repeat 0 0;
}
.chuHuoImg li:nth-child(2) {
  background: url("../img/chuHuo2.png") no-repeat 0 0;
}
.chuHuoImg li:nth-child(3) {
  background: url("../img/chuHuo3.png") no-repeat 0 0;
}
footer {
  width: 100%;
  height: .82rem;
  padding: 0 .2rem;
  box-sizing: border-box;
  line-height: .82rem;
  background: white;
  margin-bottom: .2rem;
}
.teachTub {
  width: .45rem;
  height: .45rem;
  margin-right: .25rem;
  background: url("../img/teach.png") no-repeat;
  background-size: contain;
  margin-top: .18rem;
}
footer p {
  font-size: .25rem;
  float: left;
}
.teachJt {
  color: #96989C;
  font-size: .3rem;
}
