nav {
  width: 100%;
  height: .73rem;
  text-align: center;
  line-height: .73rem;
}
nav h3 {
  font-size: .3rem;
  font-weight: normal;
}
.swiper-pagination-bullet-active {
  background: white!important;
}
.searchbox {
  background: #EDF0F5;
  width: 100%;
  height: 1.26rem;
  padding: .33rem .2rem;
  box-sizing: border-box;
}
.search {
  width: 100%;
  height: .6rem;
  background: white;
  text-align: center;
  line-height: .6rem;
  border: 0;
  outline: none;
  font-size: .16rem;
  position: relative;
  top: -0.65rem;
}
.zixuangu {
  width: 100%;
  height: auto;
  border: 1px solid #D6DDE2;
  background: white;
}
.zixuangu li {
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #E9ECEF;
  padding: .2rem .18rem;
  box-sizing: border-box;
  line-height: 1rem;
}
.zixuangu li:last-child {
  border: 0;
}
.guName {
  width: 1.5rem;
  height: .55rem !important;
  margin-right: .3rem;
  float: left;
  list-style: none;
}
.guName span {
  border: 0;
  height: .3rem !important;
  font-size: .2rem;
  line-height: .3rem;
  display: block;
}
.guName .red {
  color: #FE3D3C;
}
.banker {
  width: .7rem;
  height: .35rem;
  border-radius: .1rem;
  font-size: .2rem;
  color: white;
  float: left;
  text-align: center;
  line-height: .35rem;
  margin-top: .1rem;
  margin-right: .7rem;
}
.banker.blue {
  background: #07A3F6;
}
.banker.orange {
  background: #FD961D;
}
.banker.zi {
  background: #9F65C9;
}
.green {
  color: green;
}
.status {
  display: block;
  font-size: .24rem;
  float: left;
  line-height: .6rem;
}
.menu {
  width: 100%;
  height: .9rem;
  border-top: 1px solid #DEE3E7;
  margin-top: 1rem;
}
.menu li {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: .9rem;
}
.menuTitle {
  width: 100%;
  height: .8rem;
  text-align: center;
  line-height: .9rem;
}
.menuTitle li {
  width: 100%;
  float: none;
  font-size: .18rem;
  color: #7D8490;
  text-align: center;
}
.menuTitle li:first-child {
  height: 60%;
  line-height: .6rem;
}
.menuTitle li:last-child {
  height: 40%;
  line-height: .4rem;
}
.tubiao {
  font-size: .5rem !important;
}
/* 首页--end */
